In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv('iris.csv')
iris.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [3]:
import pandasql as ps

In [5]:
query = """ select Species, sum(PetalWidthCm) as soma_PetalWidthCm 
from iris
where Species = 'Iris-setosa'
group by Species"""

ps.sqldf(query, locals())

       Species  soma_PetalWidthCm
0  Iris-setosa               12.2

In [6]:
iris.loc[iris['Species']=='Iris-setosa']['PetalWidthCm'].sum()

12.2

In [7]:
iris_setosa = iris.loc[iris['Species']=='Iris-setosa']
iris_setosa.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
iris_setosa['PetalWidthCm'].sum()

12.2

In [10]:
iris.loc[iris['Species']=='Iris-setosa']['PetalWidthCm'].count()

50

In [11]:
query = """ select Species, count(PetalWidthCm) as soma_PetalWidthCm 
from iris
where Species = 'Iris-setosa'
group by Species"""

ps.sqldf(query, locals())

       Species  soma_PetalWidthCm
0  Iris-setosa                 50

In [14]:
query = """ select Species, avg(PetalWidthCm) as avg_PetalWidthCm 
from iris
where Species in ('Iris-setosa', 'Iris-versicolor')
group by Species"""

ps.sqldf(query, locals())

           Species  avg_PetalWidthCm
0      Iris-setosa             0.244
1  Iris-versicolor             1.326

In [21]:
iris.loc[iris['Species'].isin(['Iris-setosa','Iris-versicolor'])]['PetalWidthCm'].count()

100

In [24]:
iris_filtro = iris.loc[iris['Species'].isin(['Iris-setosa','Iris-versicolor'])]

iris_filtro.groupby('Species')['PetalWidthCm'].mean()

Species
Iris-setosa        0.244
Iris-versicolor    1.326
Name: PetalWidthCm, dtype: float64